@model Arity.Data.Vendor_User
@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}


<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login | Vendor Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- font awesome CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->


    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/wave/waves.min.css">
    <!-- Notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/notika-custom-icon.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
    {
        <div></div>

        <!-- Login Register area Start-->
        <div class="login-content">
            @Html.HiddenFor(_ => _.UserId)
            <div class="nk-block toggled" id="l-login">

                <div class="nk-form" style="padding-top:15px;">
                    <h3> Reset Password</h3>


                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                        <div class="nk-int-st">
                            @Html.PasswordFor(_ => _.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                        </div>
                        <span style="color:red"> @Html.ValidationMessageFor(_ => _.NewPassword)</span>
                    </div>
                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                        <div class="nk-int-st">
                            @Html.PasswordFor(_ => _.confirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        </div>
                        <span style="color:red"> @Html.ValidationMessageFor(_ => _.confirmPassword)</span>
                    </div>
                    <button type="submit" id="btnResetPassword" class="btn btn-login btn-success btn-float" style="margin-top: -26px;"><i class="notika-icon notika-right-arrow right-arrow-ant"></i></button>
                </div>


            </div>
        </div>
    }

    <!-- jquery
        ============================================ -->
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Content/js/bootstrap.min.js"></script>

    <script src="/Content/js/wave/waves.min.js"></script>
    <script src="/Content/js/wave/wave-active.js"></script>
    <script src="/Content/js/notification/bootstrap-growl.min.js"></script>
    <script src="/Content/js/notification/notification-active.js"></script>

    <script>

        $("#btnResetPassword").on("click", function () {
            if ($("#NewPassword").val() == '' || $("#confirmPassword").val() == '') {
                Notification("", "Password should not be blank", "danger")
            }
            else if ($("#NewPassword").val() != $("#confirmPassword").val()) {
                Notification("", "Password should be same", "danger")
            } else if ($("#NewPassword").val().length<5) {
                Notification("", "Password should contain minimum 6 characters", "danger")
            }
            else {
                return true;
            }
            return false;
        });
    </script>
</body>
</html>
