@model Arity.Data.Dto.GroupMasterDTO

<form>
    @Html.HiddenFor(_ => _.GroupId)
    @Html.HiddenFor(_ => _.AddedBy)
    @Html.HiddenFor(_ => _.CreatedOn)
    @Html.HiddenFor(_ => _.CreatedBy)
    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Name<span style="color:red;vertical-align:text-bottom;">*</span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        @Html.TextBoxFor(_ => _.Name, new { @class = "form-control input-sm", placeholder = "Enter name", @required = "required" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Description<span style="color:red;vertical-align:text-bottom;"></span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        @Html.TextBoxFor(_ => _.Description, new { @class = "form-control input-sm", placeholder = "Enter description" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="width:100%;text-align:center;padding: 25px 0 5px;">
        <button type="button" class="btn btn-success notika-btn-success waves-effect" id="btnGroup">@(Model.GroupId > 0 ? "Update" : "Add")</button>
        <button type="button" class="btn btn-default notika-btn-default waves-effect" id="btnCancel">Cancel</button>
    </div>
</form>

<script>

    $('#btnGroup').on('click', function () {
        var isValid = true;
        if ($("#Name").val() == null || $("#Name").val() == "") {
            Notification('', 'Please enter name', 'danger');
            isValid = false;
        }
        else if ($("#Description").val() == null || $("#Description").val() == "") {
            Notification('', 'Please enter description', 'danger');
            isValid = false;
        }
        if (isValid) {

            var data = JSON.stringify({
            "groupMaster": {
                "Name": $("#Name").val(),
                "Description": $("#Description").val(),
                "GroupId": $("#GroupId").val(),
                "AddedBy": $("#AddedBy").val(),
                "CreatedBy": $("#CreatedBy").val(),
                "CreatedOn": $("#CreatedOn").val()
            }
        });

            $('#loading').show();
            $.ajax({
                url: '@Url.Action("AddGroup", "Master")',
                type: 'post',
                data: data,
                contentType: 'application/json; charset=utf-8',
                success: function () {
                    $("#loading").hide();
                        if (@Model.GroupId <= 0) {
                            Notification('', 'Group added successfuly', 'success');
                        }
                        else {
                            Notification('', 'Group updated successfuly', 'success');
                        }
                        table.ajax.reload();
                        $("#modalGroup").modal('toggle');
                },
                failure: function () {
                    Notification('', 'Something went wrong, Please try again', 'danger');
                }
            });
        }
    })
</script>

