@model Arity.Data.Dto.NotificationDTO

<form>
    @Html.HiddenFor(_ => _.NotificationId)
    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Message<span style="color:red;vertical-align:text-bottom;">*</span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        @Html.EditorFor(_ => _.Message, new { htmlAttributes = new { @class = "form-control input-sm summernote", placeholder = "Enter Message", @required = "required" } })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Client<span style="color:red;vertical-align:text-bottom;">*</span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        @Html.DropDownListFor(_ => _.ClientId, ViewBag.Clients as SelectList, "-- Select Client--", new { @class = "form-control input-sm chosen", @required = "required" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Type<span style="color:red;vertical-align:text-bottom;">*</span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        @Html.DropDownListFor(_ => _.Type, EnumHelper.GetSelectList(typeof(Arity.Data.Helpers.EnumHelper.NotificationType)), "-- Select Type--", new { @class = "chosen form-control input-sm", @required = "required" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">On Broadcast<span style="color:red;vertical-align:text-bottom;">*</span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        @Html.TextBox("OnBroadcastDateTime", Model.OnBroadcastDateTime.ToString("dd/MM/yyyy"), new { @class = "form-control input-sm data-time", placeholder = "Enter description" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Off Broadcast<span style="color:red;vertical-align:text-bottom;">*</span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        @Html.TextBox("OffBroadcastDateTime", Model.OffBroadcastDateTime.ToString("dd/MM/yyyy"), new { @class = "form-control input-sm data-time", placeholder = "Enter description" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Complete</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        @Html.CheckBoxFor(_ => _.IsComplete)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%;text-align:center;padding: 25px 0 5px;">
        <button type="button" class="btn btn-success notika-btn-success waves-effect" id="btnGroup">@(Model.NotificationId > 0 ? "Update" : "Add")</button>
        <button type="button" class="btn btn-default notika-btn-default waves-effect" id="btnCancel">Cancel</button>
    </div>
</form>

<script>
    $(document).ready(function() {
    $(".summernote").summernote();
    $(".chosen").chosen();
     $('.data-time').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
         autoclose: true,
        format:'dd/mm/yyyy'
    });
    $('#btnGroup').on('click', function () {
        var isValid = true;
        if ($("#Message").val() == null || $("#Message").val() == "") {
            Notification('', 'Please enter message', 'danger');
            isValid = false;
        }
        else if ($("#ClientId").val() == null || $("#ClientId").val() == "") {
            Notification('', 'Please select client', 'danger');
            isValid = false;
        }
        else if ($("#Type").val() == null || $("#Type").val() == "") {
            Notification('', 'Please select type', 'danger');
            isValid = false;
        }
          else if ($("#OnBroadcastDateTime").val() == null || $("#OnBroadcastDateTime").val() == "") {
            Notification('', 'Please select on broadcast date', 'danger');
            isValid = false;
        }else if ($("#OffBroadcastDateTime").val() == null || $("#OffBroadcastDateTime").val() == "") {
            Notification('', 'Please select off broadcast date', 'danger');
            isValid = false;
        }
        if (isValid) {

            var data = JSON.stringify({
            "notification": {
                "Message": $("#Message").val(),
                "NotificationId": $("#NotificationId").val(),
                "ClientId": $("#ClientId").val(),
                "OnBroadcastDateTime": $("#OnBroadcastDateTime").val(),
                "OffBroadcastDateTime": $("#OffBroadcastDateTime").val(),
                "IsComplete": $("#IsComplete").is(":checked"),
                "Type": $("#Type").val()
            }
        });

            $('#loading').show();
            $.ajax({
                url: '@Url.Action("AddNotification", "Master")',
                type: 'post',
                data: data,
                contentType: 'application/json; charset=utf-8',
                success: function () {
                    $("#loading").hide();
                        if (@Model.NotificationId <= 0) {
                            Notification('', 'Notification added successfuly', 'success');
                        }
                        else {
                            Notification('', 'Notification updated successfuly', 'success');
                        }
                        table.ajax.reload();
                        $("#modalNotification").modal('toggle');
                },
                failure: function () {
                    Notification('', 'Something went wrong, Please try again', 'danger');
                }
            });
        }
    });
  });
</script>

