@using Arity.Data.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Client";
}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-form"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Client</h2>
                                    <p>List of Clients</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                                {
                                    <button id="btnAddInvoiceEntry" onclick="AddUpdateClient(0)" data-toggle="tooltip" data-placement="left" class="btn"><i class="fa fa-plus"></i> Add</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Clients</h2>
                        <p>Below are list of clients.</p>
                    </div>

                    <div class="date-filter">

                        @*<div class="form-group nk-datapk-ctm form-elet-mg filter-date" id="data_1">
                            <label>From</label>
                            <div class="input-group date nk-int-st">
                                <span class="input-group-addon"></span>
                                <input type="text" id="FromDate" class="form-control bk-date" value="@(((DateTime)ViewBag.FromDate).ToString("dd/MM/yyyy"))" readonly>
                            </div>
                        </div>
                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date" id="data_1">
                            <label>To</label>
                            <div class="input-group date nk-int-st">
                                <span class="input-group-addon"></span>
                                <input type="text" id="ToDate" class="form-control bk-date" value="@(((DateTime)ViewBag.ToDate).ToString("dd/MM/yyyy"))" readonly>
                            </div>
                        </div>
                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date-button" id="data_1">
                            <button type="button" class="btn btn-success notika-btn-success waves-effect" id="btnFilterGrid">Search</button>
                        </div>*@

                    </div>
                    <div class="table-responsive">
                        <table id="tblClient" class="table table-striped" style="width:100%;">
                            <thead>
                                <tr>
                                    <th style="width:12%;">Name</th>
                                    <th style="width:12%;">Username</th>
                                    <th style="width:12%;">Address</th>
                                    <th style="width:10%;">City</th>
                                    <th style="width:10%;">Phone</th>
                                    <th style="width:10%;">Pincode</th>
                                    <th style="width:10%;">Role</th>
                                    <th style="width:10%;">Accountant</th>
                                    <th style="width:10%;">Status</th>
                                    <th style="width:9%;"></th>
                                    <th style="width:5%;"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>
    <script>
    $(document).ready(function () {
        $("#liClient").addClass("active");
        $("#liHome").removeClass("active");
        @if (TempData["Success"] != null)
        {
                @:Notification('', '@TempData["Success"]', 'sucess');
        }
        table = $('#tblClient').DataTable({
            "ajax": function (data, callback, settings) {
                $.ajax({
                    url: '@Url.Action("LoadClient","Master")',
                    type: "GET",
                    dataType: "json",
                    beforeSend: function (xhrObj) {
                        $("#loading").show();
                    }
                })
                    .done(function (data, textStatus, jqXHR) {
                        callback(data);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        Notification('Error! ', '' + errorThrown + '', 'danger');
                    })
                    .always(function (data, textStatus, jqXHR) {
                        $("#loading").hide();
                    });
            },
            "language": {
                "emptyTable": "No clients found"
            },
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Excel',
                    text: 'Export to excel'
                }
            ],
            "columns": [
                { "data": "FullName" },
                { "data": "Username" },
                { "data": "Address" },
                { "data": "City" },
                { "data": "PhoneNumber" },
                { "data": "Pincode" },
                { "data": "UserType" },
                { "data": "AccountantName" },
                {
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, full) {
                        if (data.Active)
                            return 'TRUE';
                        else
                            return 'FALSE';
                    }
                },
                {
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, full) {
                        if (data.CreatedBy == @SessionHelper.UserTypeId || @((int)Arity.Service.Core.UserType.MasterAdmin) === @SessionHelper.UserTypeId)
                            return '<button class="btn waves-effect" onclick="AddUpdateClient(' + data.Id + ')"><i class="fa fa-edit" aria-hidden="true"></i></button>';
                        else
                            return '';
                    }
                },
                {
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, full) {
                        if (data.CreatedBy == @Convert.ToInt32(SessionHelper.UserTypeId) || @Convert.ToInt32(SessionHelper.UserTypeId) == @((int)Arity.Service.Core.UserType.MasterAdmin) ) {
                            return '<div class="dialog-pro dialog">' +
                                '<button class="btn btn-info" onclick="DeleteClient(' + data.Id + ')" id="sa-warning">' +
                                '<i class="fa fa-trash" aria-hidden="true"></i>' +
                                '</button> </div>';
                        }
                        else {
                            return "";
                        }
                    }
                }
            ],
            "order": [[0,"asc"]]
       });

         $("#btnFilterGrid").click(function () {
    table.ajax.reload();
});
       });

        function AddUpdateClient(id) {
            $("#loading").show();
            location.href = 'master/manageclient/'+ (id >0 ? id:'');
        }

        function DeleteClient(clientId) {
            swal({
			title: "Are you sure?",
			text: "You will not be able to recover this client",
			type: "warning",
			showCancelButton: true,
			confirmButtonText: "Delete",
            }).then(function () {
                $("#loading").show();
                $.ajax({
                    url: '@Url.Action("DeleteUser", "Home")',
                    type: "POST",
                    data: { userId: clientId },
                    cache: false,
                    success: function (response) {
                        table.ajax.reload();
                        $("#loading").hide();
			            swal("Deleted!", "Client has been deleted.", "success");
                    },
                    error: function (error) {
                        $("#loading").hide();
                        Notification('', 'Internal error occured, Please try again', 'danger');
                    }
                });
		});

        }

    </script>
}
