@model Arity.Data.Dto.ParticularDto

<form>
    @Html.HiddenFor(_ => _.Id)
    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Full Name<span style="color:red;vertical-align:text-bottom;">*</span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        @Html.TextBoxFor(_ => _.ParticularFF, new { @class = "form-control input-sm", placeholder = "Enter full name", @required = "required" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Short Name<span style="color:red;vertical-align:text-bottom;">*</span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        @Html.TextBoxFor(_ => _.ParticularSF, new { @class = "form-control input-sm", placeholder = "Enter short name", @required = "required" })
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Exclude from Invoice<span style="color:red;vertical-align:text-bottom;"></span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        @Html.CheckBoxFor(_ => _.IsExclude)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="width:100%;text-align:center;padding: 25px 0 5px;">
        <button type="button" class="btn btn-success notika-btn-success waves-effect" id="btnOkParticular">@(Model.Id > 0 ? "Update" : "Add")</button>
        <button type="button" class="btn btn-default notika-btn-default waves-effect" id="btnCancleParticular">Cancel</button>
    </div>
</form>

<script>

    $('#btnOkParticular').on('click', function () {
        var isValid = true;
        if ($("#ParticularFF").val() == null || $("#ParticularFF").val() == "") {
            Notification('', 'Please enter full name', 'danger');
            isValid = false;
        }
        else if ($("#ParticularSF").val() == null || $("#ParticularSF").val() == "") {
            Notification('', 'Please enter short form', 'danger');
            isValid = false;
        }
        if (isValid) {
            $('#loading').show();
            $.ajax({
                url: '@Url.Action("AddParticularToDB", "Particular")',
                type: 'post',
                data: { ID: $('#Id').val(), ParticularFF: $('#ParticularFF').val(), ParticularSF: $('#ParticularSF').val(),IsExlude:$("#IsExlude").val() },
                success: function () {
                    $("#loading").hide();
                        if (@Model.Id <= 0) {
                            Notification('', 'Particular added successfuly', 'success');
                        }
                        else {
                            Notification('', 'Particular updated successfuly', 'success');
                        }
                        table.ajax.reload();
                        $("#modalParticular").modal('toggle');
                },
                failure: function () {
                    Notification('', 'Something went wrong, Please try again', 'danger');
                }
            });
        }
    })
</script>
