
@model Arity.Data.Dto.ReceiptDto
<style>
    .chosen-container {
        width:100% !important;
        }
    .search-field input {
        width:100% !important;
    }
</style>
    <form>
        @Html.HiddenFor(_ => _.ReceiptId)
        @Html.HiddenFor(_ => _.CreatedDate)
        @Html.HiddenFor(_ => _.CreatedBy)

        <div class="form-example-int form-horizental">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="hrzn-fm">Company<span style="color:red;vertical-align:text-bottom;">*</span></label>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 @(Model.ReceiptId>0?"onlyviewmode":"")">
                        <div class="nk-int-st">
                            @Html.DropDownListFor(_ => _.CompanyId, ViewBag.company as SelectList, "-- Select Company--", new { @class = "form-control input-sm ", @required = "required" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-example-int form-horizental">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="hrzn-fm">Client<span style="color:red;vertical-align:text-bottom;">*</span></label>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12  @(Model.ReceiptId>0?"onlyviewmode":"")">
                        <div class="nk-int-st">
                            @Html.DropDownListFor(_ => _.ClientId, ViewBag.client as SelectList, "-- Select Client--", new { @class = "form-control input-sm", @required = "required" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-example-int form-horizental">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="hrzn-fm">Invoice<span style="color:red;vertical-align:text-bottom;">*</span></label>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                        <div class="nk-int-st chosen-select-act fm-cmp-mg">
                            @Html.DropDownListFor(_ => _.InvoiceIds, ViewBag.Invoice as MultiSelectList, new { @class = "form-control chosen", @required = "required", multiple = "multiple" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-example-int form-horizental">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="hrzn-fm">Discount<span style="color:red;vertical-align:text-bottom;">*</span></label>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 ">
                        <div class="nk-int-st">
                            @Html.TextBoxFor(_ => _.Discount, new { @class = "form-control input-sm", placeholder = "Enter discount amount", @required = "required", @type = "number", onkeyup = "finalAmount()" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-example-int form-horizental">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="hrzn-fm">Total Amount<span style="color:red;vertical-align:text-bottom;">*</span></label>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                        <div class="nk-int-st">
                            @Html.TextBoxFor(_ => _.TotalAmount, new { @class = "form-control input-sm", placeholder = "Total amount", @required = "required", @type = "number", disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-example-int form-horizental">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="hrzn-fm">Bank Name</label>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                        <div class="nk-int-st">
                            @Html.TextBoxFor(_ => _.BankName, new { @class = "form-control input-sm", placeholder = "Enter bank name" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-example-int form-horizental">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="hrzn-fm">Cheque Number</label>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                        <div class="nk-int-st">
                            @Html.TextBoxFor(_ => _.ChequeNumber, new { @class = "form-control input-sm", placeholder = "Enter cheque number" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-example-int form-horizental">
            <div class="form-group ">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="hrzn-fm">Receipt Date<span style="color:red;vertical-align:text-bottom;">*</span></label>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 nk-datapk-ctm form-elet-mg filter-date">
                       
                        <div class="nk-int-st date">
                            @Html.TextBox("RecieptDate",Model.RecieptDate.ToString("mm/dd/yyyy"), new { @class = "form-control input-sm", placeholder = "Select receipt date" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-example-int form-horizental">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="hrzn-fm">Status</label>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                        <div class="nk-int-st">
                            @Html.CheckBoxFor(_ => _.Status)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%;text-align:center;padding: 25px 0 5px;">
            <button id="btnAdd" class="btn btn-success notika-btn-success waves-effect" type="button" style="align-content:center">@(Model.ReceiptId > 0 ? "Update" : "Add")</button>
            <button id="btnCancel" class="btn btn-default notika-btn-default waves-effect" type="button" style="margin-left:10px;">Cancel</button>
        </div>
    </form>

<script>
    var actualTotal;
        $("#InvoiceIds").chosen();
        $("#RecieptDate").datepicker();

    $("#btnAdd").click(function () {
        var isValid = true;
        if ($("#InvoiceIds").val() == null || $("#InvoiceIds").val() == "") {
            Notification('', 'Please select invoice', 'danger');
            isValid = false;
        }
        else if($("#Discount").val() == null || $("#Discount").val() == "") {
            Notification('', 'Please enter discount amount', 'danger');
            isValid = false;
        }
         else if($("#TotalAmount").val() == null || $("#TotalAmount").val() == ""  || $("#TotalAmount").val() <= "0") {
            Notification('', 'Please enter total amount', 'danger');
            isValid = false;
        }
        else if ($("#RecieptDate").val() == null || $("#RecieptDate").val() == "") {
            Notification('', 'Please enter reciept date', 'danger');
            isValid = false;
        }

        var data = JSON.stringify({
            "receiptEntry": {
                "InvoiceIds": $("#InvoiceIds").val(),
                "Discount": $("#Discount").val(),
                "TotalAmount": $("#TotalAmount").val(),
                "BankName": $("#BankName").val(),
                "ChequeNumber": $("#ChequeNumber").val(),
                "Status": $("#Status").is(":checked"),
                "CreatedDate": $("#CreatedDate").val(),
                "ReceiptId": $("#ReceiptId").val(),
                "CompanyId": $("#CompanyId").val(),
                "ClientId": $("#ClientId").val(),
                "RecieptDate": $("#RecieptDate").val(),
                "CreatedBy": $("#CreatedBy").val()
            }
        });

        if (isValid) {
            $.ajax({
                url: '@Url.Action("AddPaymentEntry", "Home")',
                dataType: "json",
                type: "POST",
                data:data,
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#loading").hide();
                    if (response) {
                        if (@Model.ReceiptId <= 0) {
                            Notification('', 'Receipt entry added successfuly', 'success');
                        }
                        else {
                            Notification('', 'Receipt entry updated successfuly', 'success');
                        }
                        table.ajax.reload();
                        $("#modelPaymentEntry").modal('toggle');
                    }
                    else {
                         Notification('', 'Something went wrong, Please try again', 'danger');
                    }
                },
                error: function (error) {
                    $("#loading").hide();
                    Notification('', 'Something went wrong, Please try again', 'danger');
                }
            });
        }
    });

    //Get client by company
    $("#CompanyId").on('change', function () {
        $.ajax({
            url: '@Url.Action("GetClientByCompany", "Home")',
            dataType: "json",
            type: "GET",
            data: {companyId:$("#CompanyId").val()},
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $("#ClientId").html("<option value>-- Select client --</option>");
                $.each(response, function (i, client) {
                    $("#ClientId").append($("<option />").val(client.Id).text(client.FullName));
                });
            },
            error: function () {

            },
        });
    });

    //Get invoice by client
    $("#ClientId").on('change', function () {
        $.ajax({
            url: '@Url.Action("GetInvoiceByClientAndCompany", "Home")',
            dataType: "json",
            type: "GET",
            data: { clientId: $("#ClientId").val(), companyId: $("#CompanyId").val() },
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $("#InvoiceIds").html("");
                $.each(response, function (i, invoice) {
                    $("#InvoiceIds").append($("<option />").val(invoice.InvoiceId).text(invoice.InvoiceNumber));
                });
                $("#InvoiceIds").trigger("chosen:updated");
            },
            error: function () {

            },
        });
    });

    $("#InvoiceIds").on('change', function () {
        $("#TotalAmount").val('');
        $.ajax({
            url: '@Url.Action("GetTotalOfInvoice","Home")',
            dataType: "json",
            type: "get",
            traditional:true,
            contentType: 'application/json; charset=utf-8',
            data: {"invoices":$("#InvoiceIds").val()},
            success: function (response) {
                console.log(response)
                actualTotal = response
                finalAmount();
            },

        })
    });

    function finalAmount() {
        var total = parseFloat(actualTotal) - Number($("#Discount").val())
        console.log(total);
        $("#TotalAmount").val(total);
    }
</script>