@using Arity.Data.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Users";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Data Table JS
        ============================================ -->
    <link rel="stylesheet" href="/Content/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/Content/css/chosen/chosen.css">

</head>

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-form"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Users</h2>
                                    <p>List of Users</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                @if (Convert.ToInt32(SessionHelper.UserTypeId) == (int)Arity.Service.Core.UserType.Admin)
                                {
                                    <button id="btnAddInvoiceEntry" onclick="AddUpdateUser(0)" data-toggle="tooltip" data-placement="left" class="btn"><i class="fa fa-plus"></i> Add</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area End-->
<div class="modal animated fade" id="modelUser" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header" style="margin-bottom:35px;">
                <h3>Add/Update User</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Users</h2>
                        <p>Below are list of users.</p>
                    </div>

                    <div class="date-filter">

                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date" id="data_1">
                            <label>From</label>
                            <div class="input-group date nk-int-st">
                                <span class="input-group-addon"></span>
                                <input type="text" id="FromDate" class="form-control" value="@(((DateTime)ViewBag.FromDate).ToString("MM/dd/yyyy"))" readonly>
                            </div>
                        </div>
                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date" id="data_1">
                            <label>To</label>
                            <div class="input-group date nk-int-st">
                                <span class="input-group-addon"></span>
                                <input type="text" id="ToDate" class="form-control" value="@(((DateTime)ViewBag.ToDate).ToString("MM/dd/yyyy"))" readonly>
                            </div>
                        </div>
                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date-button" id="data_1">
                            <button type="button" class="btn btn-success notika-btn-success waves-effect" id="btnFilterGrid">Search</button>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table id="tblUsers" class="table table-striped" style="width:100%;">
                            <thead>
                                <tr>
                                    <th style="width:12%;">Name</th>
                                    <th style="width:12%;">Username</th>
                                    <th style="width:12%;">Address</th>
                                    <th style="width:10%;">City</th>
                                    <th style="width:10%;">Phone</th>
                                    <th style="width:10%;">Pincode</th>
                                    <th style="width:10%;">Role</th>
                                    <th style="width:10%;">Status</th>
                                    <th style="width:9%;">Update</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function () {

       table =  $('#tblUsers').DataTable({
            "ajax": function (data, callback, settings) {
                $.ajax({
                    url: '@Url.Action("LoadUsers","Home")',
                    type: "GET",
                    dataType: "json",
                    data: {
                        from: $("#FromDate").val(),
                        to: $("#ToDate").val()
                    },
                    beforeSend: function (xhrObj) {
                        $("#loading").show();
                    }
                    })
                    .done(function (data, textStatus, jqXHR) {
                        callback(data);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        Notification('Error! ', ''+errorThrown+'', 'danger');
                    })
                    .always(function (data, textStatus, jqXHR) {
                        $("#loading").hide();
                    });
            },
            "language": {
                "emptyTable": "No users found"
            },
           "columns": [
                { "data": "FullName" },
                { "data": "Username" },
                { "data": "Address" },
                { "data": "City" },
                { "data": "PhoneNumber" },
                { "data": "Pincode" },
                { "data": "UserType" },
                { "data": "UserType" },
                {
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, full) {
                            return '<button class="btn waves-effect" onclick="AddUpdateUser(' + data.Id + ')"><i class="fa fa-edit" aria-hidden="true"></i></button>';
                    }
                }
            ],
            "order": [[1, "desc"]]
       });

       @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.Admin)
{
           @:table.column(9).visible(false)
       }
         $("#btnFilterGrid").click(function () {
    table.ajax.reload();
});
       });

        function RemvoeParticulars(id) {
            if (confirm("Are you sure you want to delete this particular?")) {
                $("#loading").show();
            $.ajax({
                url: '@Url.Action("RemoveInvoiceEntry", "Home")',
                dataType: "json",
                type: "GET",
                data: { id: id },
                success: function (response) {
                    $("#loading").hide();
                     Notification('', 'Particular deleted successfuly', 'success');
                    table.ajax.reload();
                },
                error: function (error) {
                    $("#loading").hide();
                    Notification('', 'Something went wrong, Please try again', 'danger');
                }
            });
            }
        }

        function AddUpdateUser(id) {
              $("#loading").show();
            $.ajax({
                url: '@Url.Action("AddUpdateUser", "Home")',
                dataType: "html",
                type: "GET",
                data: { id: id },
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#loading").hide();
                    $("#modelUser .modal-body").html(response);
                    $("#modelUser").modal('toggle');
                },
                error: function (error) {
                    $("#loading").hide();
                    Notification('', 'Something went wrong, Please try again', 'danger');
                }
            });
        }

        function downloadPayment(id) {
            window.open("/home/GenerateReciept/"+id);
        }
    </script>
}
