@using Arity.Data.Helpers;
@{
    ViewBag.Title = "Document";
}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-form"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Documents</h2>
                                    <p>List of Documents</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                                {
                                    <button id="btnAddInvoiceEntry" onclick="UploadDocument(0)" data-toggle="tooltip" data-placement="left" class="btn"><i class="fa fa-plus"></i>Add</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area End-->
<!-- Data Table area Start-->
<div class="data-table-area" style="margin-top:25px;height:100%">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Document List</h2>
                        <p>Below are List of Document.</p>
                    </div>
                    <div class="date-filter">

                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date" id="data_1">
                            <label>From</label>
                            <div class="input-group date nk-int-st">
                                <span class="input-group-addon"></span>
                                <input type="text" id="FromDate" class="form-control bk-date" value="@(((DateTime)ViewBag.FromDate).ToString("dd/MM/yyyy"))" readonly>
                            </div>
                        </div>
                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date" id="data_1">
                            <label>To</label>
                            <div class="input-group date nk-int-st">
                                <span class="input-group-addon"></span>
                                <input type="text" id="ToDate" class="form-control bk-date" value="@(((DateTime)ViewBag.ToDate).ToString("dd/MM/yyyy"))" readonly>
                            </div>
                        </div>
                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date-button" id="data_1">
                            <button type="button" class="btn btn-success notika-btn-success waves-effect" id="btnFilterGrid">Search</button>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table id="tblDocument" class="table table-striped">
                            <thead>
                                <tr>
                                    @*<th style="width:0%,">documentID</th>*@
                                    <th style="width:20%;">Document Name</th>
                                    <th style="width:20%;">Client Name</th>
                                    <th style="width:10%;">User Name</th>
                                    <th style="width:20%;">Document Type</th>
                                    <th style="width:20%;" align="center">Status</th>
                                    <th style="width:10%;" align="center">Active</th>
                                    <th style="width:20%;" align="center">Created by</th>
                                    @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                                    {
                                        <th style="width:10%;"></th>
                                        <th style="width:10%;"></th>
                                    }
                                    <th style="width:10%;"></th>
                                    <th style="width:10%;"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Data Table End-->
<!-- Modal pop-up start-->
<div class="modal animated fade" id="modelDocument" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header" style="margin-bottom:35px;">
                <h3>Upload Document</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- Modal pop-up End-->

@section Scripts{

    @if (ViewBag.SuccessMsg != null)
    {
        <script>
        Notification('','@ViewBag.SuccessMsg', 'success');
        </script>
    }
    @if (ViewBag.ErrorMsg != null)
    {
        <script>
        Notification('','@ViewBag.ErrorMsg', 'danger');
        </script>
    }

    <script>
        $("#liDoc").addClass("active");
       $("#liHome").removeClass("active");
        //Load document List
        $(document).ready(function () {
            table = $('#tblDocument').DataTable({
                "ajax": function (data, callback, settings) {
                    $.ajax({
                        url: '@Url.Action("LoadDocuments","Document")',
                        type: "GET",
                        dataType: "json",
                        data: {
                            from: ""+$("#FromDate").val()+"",
                            to: ""+$("#ToDate").val()+""
                        },
                        beforeSend: function (xhrObj) {
                            $("#loading").show();
                        }
                    })
                        .done(function (data, textStatus, jqXHR) {
                            callback(data);
                        })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            Notification('Error! ', '' + errorThrown + '', 'danger');
                        })
                        .always(function (data, textStatus, jqXHR) {
                            $("#loading").hide();
                        });
                },
                "language": {
                    "emptyTable": "No document found"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Blfrtip',
                 buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'Excel',
                        text:'Export to excel'
                    }
                ],
                "columns": [
                    //{ "data": "DocumentId" },
                    { "data": "Name" },
                    { "data": "ClientName" },
                    { "data": "UserName" },
                    { "data": "DocumentTypeName" },
                    { "data": "StatusName" },
                    {
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, full) {
                            if (data.IsActive)
                                return '<i class="notika-icon notika-checked" aria-hidden="true"></i>';
                            else
                                return '<i class="notika-icon notika-close" aria-hidden="true"></i>';
                        }
                    },
                    { "data": "CreatedByString" },

             @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                {
                    @:{
                    @:"orderable": false,
                    @:"data": null,
                    @:"render": function (data, type, full) { console.log(data.AddedBy);
                    @:    if (data.AddedBy == @Convert.ToInt32(SessionHelper.UserTypeId) || @Convert.ToInt32(SessionHelper.UserTypeId) == @((int)Arity.Service.Core.UserType.MasterAdmin) ) { return '<button class="btn waves-effect" onclick="UploadDocument(' + data.DocumentId + ')"><i class="fa fa-edit" aria-hidden="true"></i></button>'; }
                    @:    else { return ''; }
                    @:      }
                    @:},
                    @:{
                    @:"orderable": false,
                    @:"data": null,
                    @:"render": function (data, type, full) { 
                    @:    if (data.AddedBy == @Convert.ToInt32(SessionHelper.UserTypeId) || @Convert.ToInt32(SessionHelper.UserTypeId) == @((int)Arity.Service.Core.UserType.MasterAdmin) ) { return '<div class="dialog-pro dialog">' +
                    @:                    '<button class="btn btn-info" onclick="DeleteDocument(' + data.DocumentId + ')" id="sa-warning">'+
                    @:                    '<i class="fa fa-trash" aria-hidden="true"></i>' +
                    @:                    '</button> </div>'; }
                    @:    else { return ''; }
                    @:      }
                    @:},
                   
                    }
                 {
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, full) { 
                        if (data.AddedBy == @Convert.ToInt32(SessionHelper.UserTypeId) || @Convert.ToInt32(SessionHelper.UserTypeId) == @((int)Arity.Service.Core.UserType.MasterAdmin) || @Convert.ToInt32(SessionHelper.UserTypeId) == @((int)Arity.Service.Core.UserType.User )) { return '' +
                                        '<button class="btn btn-info" onclick="DownloadDocument(' + data.DocumentId + ')" id="sa-warning">'+
                                        '<i class="notika-icon notika-down-arrow" aria-hidden="true"></i>' +
                                        '</button>'; }
                        else { return ''; }
                          }
                    },
                    {
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, full) {
                            return "<a href='/ViewerJS/#../Content/Documents/"+ data.DocumentId+"_"+data.FileName+"' target='_blank'>View</a>"
                        }
                    }
                ],
                "order": []
            });

         $("#btnFilterGrid").click(function () {
                 table.ajax.reload();
        });
    });


        function UploadDocument(DocumentID) {
            console.log(DocumentID);
            $("#loading").show();
            $.ajax({
                url: '@Url.Action("UploadDocument", "Document")',
                dataType: "html",
                type: "GET",
                data: {"documentID": DocumentID},
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#loading").hide();
                    $("#modelDocument .modal-body").html(response);
                    $("#modelDocument").modal('toggle');
                },
                error: function (error) {
                    $("#loading").hide();
                    Notification('', 'Internal error occured, Please try again', 'danger');
                }
            });
        }

        function DeleteDocument(DocumentID) {
            swal({
			title: "Are you sure?",
			text: "You will not be able to recover this imaginary file!",
			type: "warning",
			showCancelButton: true,
			confirmButtonText: "Yes, delete it!",
            }).then(function () {
            console.log(DocumentID);
                $("#loading").show();
                $.ajax({
                    url: '@Url.Action("DeleteDocument", "Document")',
                    type: "POST",
                    data: { documentID: DocumentID },
                    cache: false,
                    success: function (response) {
                        table.ajax.reload();
                        $("#loading").hide();
			            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        Notification('', 'Document deleted succesfully', 'success');
                    },
                    error: function (error) {
                        $("#loading").hide();
                        Notification('', 'Internal error occured, Please try again', 'danger');
                    }
                });
		});

        }

        function DownloadDocument(docID) {
            window.open("@Url.Action("DownloadDocument", "Home")?documentID="+docID);
        }

    </script>
}