@using Arity.Data.Helpers;
@{
    ViewBag.Title = "Document";
}

<style>
    tfoot {
        display: table-header-group;
    }

    .table.table-striped > tbody > tr > td, .table.table-striped > tbody > tr > th, .table.table-striped > tfoot > tr > td, .table.table-striped > tfoot > tr > th, .table.table-striped > thead > tr > td, .table.table-striped > thead > tr > th {
        border-top: 0px solid #F5F5F5;
        font-size: 14px;
        color: #333;
        padding: 8px;
    }

    .daterangepicker > .ranges > .active {
        color: red !important;
    }

    .dataTables_filter {
        display: none;
    }
</style>

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-form"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Documents</h2>
                                    <p>List of Documents</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                                {
                                    <button id="btnAddInvoiceEntry" onclick="UploadDocument(0)" data-toggle="tooltip" data-placement="left" class="btn"><i class="fa fa-plus"></i>Add</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area End-->
<!-- Data Table area Start-->
<div class="data-table-area" style="margin-top:25px;height:100%">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="button-icon-btn">
                                <button id="btn_search" class="btn btn-success success-icon-notika waves-effect"><i class="notika-icon notika-search"></i> Search</button>
                                <button id="btn_reset" style="margin-left:4px" class="btn btn-success success-icon-notika waves-effect"><i class="notika-icon notika-refresh"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="tblDocument" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:20%;">Document Name</th>
                                    <th style="width:20%;">Client Name</th>
                                    <th style="width:10%;">User Name</th>
                                    <th style="width:20%;">Document Type</th>
                                    <th style="width:20%;" align="center">Status</th>
                                    <th style="width:10%;" align="center">Active</th>
                                    <th style="width:20%;" align="center">Created by</th>
                                    @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                                    {
                                        <th style="width:10%;"></th>
                                        <th style="width:10%;"></th>
                                    }
                                    <th style="width:10%;"></th>
                                    <th style="width:10%;"></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th style="width:12%;">
                                        <div class="nk-int-st">
                                            <input id="col_0" class="form-control" type="text">
                                        </div>
                                    </th>
                                    <th style="width:10%;">
                                        <div class="nk-int-st">
                                            <input id="col_1" class="form-control" type="text">
                                        </div>
                                    </th>
                                    <th style="width:8%;">
                                        <div class="nk-int-st">
                                            <input id="col_2" class="form-control" type="text">
                                        </div>
                                    </th>
                                    <th style="width:8%;">
                                        <div class="nk-int-st">
                                            <input id="col_3" class="form-control" type="text">
                                        </div>
                                    </th>
                                    <th style="width:5%;">
                                        <div class="nk-int-st">
                                            <select id="col_4" class="selectpicker" multiple data-selected-text-format="count">
                                                <option value="1">RECEIVED</option>
                                                <option value="2">SENT</option>
                                                <option value="3">SUBMITTED</option>
                                                <option value="4">Other</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th style="width:5%;">
                                        <div class="nk-int-st">
                                            <select id="col_5" class="selectpicker">
                                                <option value="">None</option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th style="width:10%;">
                                        <div class="nk-int-st">
                                            <input id="col_6" class="form-control" type="text">
                                        </div>
                                    </th>
                                    @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                                    {
                                        <th id="col_7" style="width:5%;display:none;"></th>
                                        <th id="col_8" style="width:5%;display:none;"></th>
                                    }
                                    <th id="col_9" style="width:5%;display:none;"></th>
                                    <th id="col_10" style="width:5%;display:none;"></th>
                                </tr>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Data Table End-->
<!-- Modal pop-up start-->
<div class="modal animated fade" id="modelDocument" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header" style="margin-bottom:35px;">
                <h3>Upload Document</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- Modal pop-up End-->

@section Scripts{

    @if (ViewBag.SuccessMsg != null)
    {
        <script>
        Notification('','@ViewBag.SuccessMsg', 'success');
        </script>
    }
    @if (ViewBag.ErrorMsg != null)
    {
        <script>
        Notification('','@ViewBag.ErrorMsg', 'danger');
        </script>
    }

    <script>
        $("#liDoc").addClass("active");
        $("#liHome").removeClass("active");
        //Load document List
        $(document).ready(function () {
            table = $('#tblDocument').DataTable({
                autoWidth: true,
                processing: true,
                serverSide: true,
                searching: true,
                ordering: true,
                "ajax": {
                    "url": "/Document/LoadDocuments",
                    "type": "POST",
                    "datatype": "json"
                },
                "language": {
                    "emptyTable": "No document found"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'Excel',
                        text:'Export to excel'
                    }
                ],
                "columns": [
                    { "data": "Name", "name" : "Name" },
                    { "data": "ClientName", "name": "ClientName"  },
                    { "data": "UserName", "name": "UserName" },
                    { "data": "DocumentTypeName", "name": "DocumentTypeName" },
                    { "data": "StatusName", "name": "StatusName" },
                    {
                        "orderable": false,
                        "data": null,
                        "name" : "Status",
                        "render": function (data, type, full) {
                            if (data.IsActive)
                                return '<i class="notika-icon notika-checked" aria-hidden="true"></i>';
                            else
                                return '<i class="notika-icon notika-close" aria-hidden="true"></i>';
                        }
                    },
                    { "data": "CreatedByString", "name": "CreatedBy" },

             @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                {
                    @:{
                    @:"orderable": false,
                    @:"data": null,
                    @:"render": function (data, type, full) { console.log(data.AddedBy);
                    @:    if (data.AddedBy == @Convert.ToInt32(SessionHelper.UserTypeId) || @Convert.ToInt32(SessionHelper.UserTypeId) == @((int)Arity.Service.Core.UserType.MasterAdmin) ) { return '<button class="btn waves-effect" onclick="UploadDocument(' + data.DocumentId + ')"><i class="fa fa-edit" aria-hidden="true"></i></button>'; }
                    @:    else { return ''; }
                    @:      }
                    @:},
                    @:{
                    @:"orderable": false,
                    @:"data": null,
                    @:"render": function (data, type, full) {
                    @:    if (data.AddedBy == @Convert.ToInt32(SessionHelper.UserTypeId) || @Convert.ToInt32(SessionHelper.UserTypeId) == @((int)Arity.Service.Core.UserType.MasterAdmin) ) { return '<div class="dialog-pro dialog">' +
                    @:                    '<button class="btn btn-info" onclick="DeleteDocument(' + data.DocumentId + ')" id="sa-warning">'+
                    @:                    '<i class="fa fa-trash" aria-hidden="true"></i>' +
                    @:                    '</button> </div>'; }
                    @:    else { return ''; }
                    @:      }
                    @:},

                    }
                 {
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, full) {
                        if (data.AddedBy == @Convert.ToInt32(SessionHelper.UserTypeId) || @Convert.ToInt32(SessionHelper.UserTypeId) == @((int)Arity.Service.Core.UserType.MasterAdmin) || @Convert.ToInt32(SessionHelper.UserTypeId) == @((int)Arity.Service.Core.UserType.User )) { return '' +
                                        '<button class="btn btn-info" onclick="DownloadDocument(' + data.DocumentId + ')" id="sa-warning">'+
                                        '<i class="notika-icon notika-down-arrow" aria-hidden="true"></i>' +
                                        '</button>'; }
                        else { return ''; }
                          }
                    },
                    {
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, full) {
                            return "<a href='/ViewerJS/#../Content/Documents/"+ data.DocumentId+"_"+data.FileName+"' target='_blank'>View</a>"
                        }
                    }
                ],
                "order": [],
                initComplete: function () {
                    this.api().columns().every(function () {
                        var that = this;
                        $('input', this.footer()).on('keyup', function (e) {
                            if (e.keyCode == 13) {
                                applyFilter();
                            }
                        });
                    });
                },
                "preDrawCallback": function (settings) {
                    $("#loading").show();
                },
                "drawCallback": function (settings) {
                    $("#loading").hide();
                }
            });

         $("#btnFilterGrid").click(function () {
                 table.ajax.reload();
         });

            function applyFilter() {
            table
                .column(0).search($("#col_0").val())
                .column(1).search($("#col_1").val())
                .column(2).search($("#col_2").val())
                .column(3).search($("#col_3").val())
                .column(4).search($("#col_4").val())
                .column(5).search($("#col_5").val())
                .column(6).search($("#col_6").val())
                .draw();
            }

            $("#btnFilterGrid").click(function () {
                table.ajax.reload();
            });

            $('#btn_search').click(function () {
                applyFilter();
            });

            $('#btn_reset').click(function () {
                $("#col_1").val('');
                $("#col_2").val('');
                $("#col_3").val('');
                $("#col_4").val('');
                $("#col_5").val('');
                $("#col_6").val('');
                applyFilter();
            });
    });


        function UploadDocument(DocumentID) {
            console.log(DocumentID);
            $("#loading").show();
            $.ajax({
                url: '@Url.Action("UploadDocument", "Document")',
                dataType: "html",
                type: "GET",
                data: {"documentID": DocumentID},
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#loading").hide();
                    $("#modelDocument .modal-body").html(response);
                    $("#modelDocument").modal('toggle');
                },
                error: function (error) {
                    $("#loading").hide();
                    Notification('', 'Internal error occured, Please try again', 'danger');
                }
            });
        }

        function DeleteDocument(DocumentID) {
            swal({
			title: "Are you sure?",
			text: "You will not be able to recover this imaginary file!",
			type: "warning",
			showCancelButton: true,
			confirmButtonText: "Yes, delete it!",
            }).then(function () {
            console.log(DocumentID);
                $("#loading").show();
                $.ajax({
                    url: '@Url.Action("DeleteDocument", "Document")',
                    type: "POST",
                    data: { documentID: DocumentID },
                    cache: false,
                    success: function (response) {
                        table.ajax.reload();
                        $("#loading").hide();
			            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        Notification('', 'Document deleted succesfully', 'success');
                    },
                    error: function (error) {
                        $("#loading").hide();
                        Notification('', 'Internal error occured, Please try again', 'danger');
                    }
                });
		});

        }

        function DownloadDocument(docID) {
            window.open("@Url.Action("DownloadDocument", "Home")?documentID="+docID);
        }

    </script>
}